@font-face {
  font-family: 'AnuBold';
  src: url('./fonts/Anuphan-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'AnuRegular';
  src: url('./fonts/Anuphan-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'AnuLight';
  src: url('./fonts/Anuphan-Light.ttf') format('truetype');
}

/* 

Theme Color
https://colorhunt.co/palette/0079ff00dfa2f6fa70ff0060 

#0079FF - Blue
#00DFA2 - Green
#F6FA70 - Yellow
#FF0060 - Red

*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}